*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/BUILD.md
/.idea/firebender/chat_history.db
/.idea/firebender/chat_history.db-shm
/.idea/firebender/chat_history.db-wal
/code.text
/.idea/compiler.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/icon.png
/.idea/markdown.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
